# ignore these folders
output/
felixbrunner.github.io/
pelican-themes/
pelican-plugins/

# system folders
.venv/
*.egg-info/
*__pycache__/

# ignore these filetypes
*.html
*.pyc
*Zone.Identifier
